.login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(91, 84, 84, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
}

.login-popup-container {
    width: min(23vw, 330px); /* Adjusted from max to min for better responsiveness */
    color: #0b0101; /* Adjusted opacity from 169 to 1 */
    background-color: rgb(205, 202, 192);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup-title img {
    width: 20px;
    cursor: pointer;
    border: 2px solid rgb(94, 92, 92);
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input {
    outline: none;
    border: 1px solid #dddadade;
    padding: 10px;
    border-radius: 10px;
}

.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #f3e6d9;
    background-color: chocolate;
    font-size: 15px;
    cursor: pointer;
}

.login-popup-condition {
    display: flex;
    align-items: center; /* Changed to center for better alignment */
    gap: 8px;
    margin-top: -15px;
}

.login-popup p span {
    color: chocolate;
    font-weight: 500;
    cursor: pointer;
}

.login-popup p span:hover {
    text-decoration: underline; /* Added underline on hover */
}
